<section id="about">
  <h2>Об авторе</h2>
  
  <p>Я - Всеволод Ромашов, в определенных кругах известный как 7even, с 2006-2007 года занимаюсь веб-разработкой. С недавних пор я работаю над backend-ом <%= link_to 'вонафана', 'http://wannafun.ru' %>, до этого принимал участие (в той или иной степени) в разработке <%= link_to 'vireklama.ru', 'http://vireklama.ru' %>, <%= link_to 'zaidi.ru', 'http://zaidi.ru' %> и менее известных проектов. В свободное время, как и многие, занимаюсь своими проектами.</p>
  
  <p>В далеком 2005 году, когда я делал свои первые неуверенные шаги в создании веб-сайтов, я выбирал основной веб-ориентированный язык для изучения (тогда я еще не знал таких страшных слов, но, освоив основы HTML, захотел делать не только статичные сайты). Почитав интернеты, я, не долго думая, выбрал PHP, на котором и кодил следующие несколько лет (не забывая при этом верстать, и даже слегка освоив яваскрипт и библиотеку <%= link_to 'MooTools', 'http://mootools.net' %>); но количество быдлокода, который мне пришлось перечитать (и переписать) за эти годы, противопоставленное эстетической потребности работать с красивым и читабельным кодом, направило меня в сторону знакомства с другими языками.</p>
  
  <p>Первым из таких языков стал Objective-C. В 2008 году я уверенно пересел на мак, и естественным желанием стало написать какую-нибудь утилитку для собственных нужд с минимальным графическим интерфейсом. Немного разузнав обстановку в области разработки приложений под Mac OS X, я обложился учебниками по Objective-C и Cocoa, и через некоторое время перестал пугаться штуковин вроде <code>[[MyClass alloc] init]</code>. Но вскоре мой интерес к яблочным приложениям постепенно угас, и я вернулся к webdev-у.</p>
  
  <p>Прошло еще немного времени, и в конце 2009 года меня каким-то ветром занесло на <%= link_to 'rubyonrails.ru', 'http://rubyonrails.ru' %> (мое первое знакомство с Ruby состоялось на несколько месяцев раньше, когда, блуждая по просторам буржуйнета, я наткнулся на <%= link_to 'less', 'http://lesscss.org' %>, тогда еще написанный на Ruby и устанавливающийся через rubygems). К тому моменту я уже был немного наслышан об этом фреймворке, но не видел смысла изучать еще один язык для решения задач, для которых подходит и PHP. Однако, посмотрев знаменитый скринкаст "блог за 15 минут", я напрочь забыл о подобных предрассудках, и уже через несколько дней уже знал, что с похапэ мне больше не по пути.</p>
  
  <p>Вскоре я приобрел одну из лучших книг по Ruby 1.9, <%= link_to 'Programming Ruby 1.9', 'http://pragprog.com/titles/ruby3/programming-ruby-1-9' %>, и чем больше я узнавал о языке, тем чаще задавался вопросом "какого @%^&#$* кто-то еще пишет на PHP?". Позже, я познал магию рельсов и минималистичность синатры, удобство capistrano и читабельность RSpec (а заодно и саму необходимость автоматического тестирования). Параллельно с изучением Ruby, я начал практиковаться в работе с git (в том же году мне также пришлось освоить subversion, но сделав выбор в пользу git, я использовал svn исключительно для основной работы, где переезд на git был сочтен нецелесообразным из-за тесной интеграции с застарелой системой деплоя).</p>
  
  <p>Помимо вышеперечисленных технологий и библиотек, существует огромное количество интересных gem-ов, с которыми стоит хотя бы ознакомиться. В этом блоге я постараюсь рассказывать обо всем интересном ruby-related stuff, который мне встречается - хотя не исключены статьи на тему git, js или даже верстки.</p>
  
  <p>Аргументированная критика и пожелания приветствуются - как в комментариях, так и на почту.</p>
</section>
