<article class="comment">
  <header>
    <%= link_to '7even', '/7even' %> @
    <%= format_date(comment.created_at) %>
  </header>
  
  <%= textilize(comment.content) %>
  
  <footer>
    <% if can? :create, Comment %>
      <div style="display:none;" class="reply_form" id="reply_form_<%= comment.id %>">
        <%= render 'comments/form', :comment => Comment.new(:parent_id => comment.id) %>
      </div>
      
      <%= link_to t('posts.show.reply'), '#', :id => "reply_link_#{comment.id}", :class => 'reply_link' %>
    <% end %>
  </footer>
</article>
