<section id="user">
  <h2><%= @user.name %></h2>
  
  <% if can? :manage, @user %>
    <section>
      <div><%= t('users.show.email') %></div>
      <div><%= mail_to(@user.email, nil, encode: 'javascript') %></div>
    </section>
  <% end %>
  
  <section>
    <div><%= t('users.show.registered') %></div>
    <div><%= @user.created_at.strftime('%d.%m.%Y') %></div>
  </section>
  
  <% if can?(:manage, @user) && @user.confirmed? %>
    <section>
      <div style="float:none; width:auto;"><%= t('users.show.confirmed') %></div>
    </section>
  <% end %>
  
  <% if @user.wrote_posts? %>
    <section>
      <div><%= t('users.show.posts') %></div>
      <div><%= @user.posts.count %></div>
    </section>
  <% end %>
  
  <section>
    <div><%= t('users.show.comments') %></div>
    <div><%= @user.comments.count %></div>
  </section>
</section>

<p class="links">
  <% if can? :edit, @user %>
    <%= link_to t('common.edit'), edit_user_path(@user) %>
  <% end %>
</p>
