<div id="auth">
  <% if logged_in? %>
    <%= t('layout.welcome') %>
    <%= link_to(current_user.name, current_user) %> |
    <%= link_to t('layout.logout'), logout_path %>
  <% else %>
    <%= link_to t('layout.login'), login_path %> |
    <%= link_to t('layout.register'), new_user_path %>
  <% end %>
</div>
