<section id="posts">
<% @posts.each do |post| %>
  <article class="post">
    <header>
      <h2><%= post.title %></h2>
      <p>
        <%= link_to post.author.name, post.author %> @
        <%= format_date(post.created_at) %>
      </p>
    </header>
    <%= textilize(post.preview) %>
    <footer>
      <p><%= link_to t(:comments, :count => post.comments.size), post_path(post) %></p>
    </footer>
  </article>
<% end %>
  <footer id="posts_footer">
    <%= link_to t('posts.index.new'), new_post_path if can? :create, Post %>
  </footer>
</section>

<section id="sidebar">
  <nav>
    <%= render 'archive' %>
  </nav>
</section>

<div style="clear:both;"></div>
