<section id="posts">
<% @posts.each do |post| %>
  <article class="post">
    <header>
      <h2><%= post.title %></h2>
      <p>
        <%= link_to '7even', '/7even' %> @
        <time datetime="<%= post.created_at.strftime('%Y-%m-%dT%H:%M') %>">
          <%= post.created_at.strftime('%Y.%m.%d %H:%M') %>
        </time>
      </p>
    </header>
    <%= textilize(post.body) %>
    <footer>
      <p><%= link_to 'ноу комментс', post_path(post) %></p>
    </footer>
  </article>
<% end %>
  <footer id="posts_footer">
    <%= link_to t('posts.index.new'), new_post_path %>
  </footer>
</section>

<section id="sidebar">
  <nav>
    <h3>Архив</h3>
    <ul>
      <li><%= link_to 'Май 2011',    posts_path(:year => 2011, :month => 5) %></li>
      <li><%= link_to 'Апрель 2011', posts_path(:year => 2011, :month => 4) %></li>
      <li><%= link_to 'Март 2011',   posts_path(:year => 2011, :month => 3) %></li>
    </ul>
  </nav>
</section>

<div style="clear:both;"></div>
