<section id="post">
  <p id="notice"><%= notice %></p>
  
  <article class="post">
    <header>
      <h2><%= @post.title %></h2>
      <p>
        <%= link_to '7even', '/7even' %> @
        <%= format_date(@post.created_at) %>
      </p>
    </header>
    
    <%= textilize(@post.body) %>
    
    <p class="links">
      <%= link_to t('posts.common.to_index'), posts_path %> |
      <%= link_to t('posts.common.edit'), edit_post_path(@post) %>
    </p>
  </article>
</section>
