<section id="post">
  <article>
    <header>
      <h2><%= @post.title %></h2>
      <p>
        <%= link_to @post.author.name, @post.author %> @
        <%= format_date(@post.created_at) %>
      </p>
    </header>
    
    <%= textilize(@post.body) %>
  </article>
</section>

<section id="comments">
  <% if @post.has_comments? %>
    <h3><%= t('posts.show.comments') %></h3>
    <%= nested_comments @post.comments.arrange(:order => :created_at) %>
  <% else %>
    <span class="no_comments"><%= t('posts.show.no_comments') %></span>
  <% end %>
  
  <% if can? :create, Comment %>
    <h3><%= t('posts.show.new_comment') %></h3>
    <%= render 'comments/form', :comment => Comment.new %>
  <% end %>
</section>

<p class="links">
  <%= link_to t('posts.common.to_index'), posts_path %> |
  <%= link_to t('posts.common.edit'), edit_post_path(@post) %>
</p>
