<section id="post">
  <p id="notice"><%= notice %></p>
  
  <article>
    <header>
      <h2><%= @post.title %></h2>
      <p>
        <%= link_to '7even', '/7even' %> @
        <%= format_date(@post.created_at) %>
      </p>
    </header>
    
    <%= textilize(@post.body) %>
  </article>
</section>

<section id="comments">
<% if @post.comments.size %>
  <h3><%= t('posts.show.comments') %></h3>
  <% @post.comments.each do |comment| %>
    <article class="comment">
      <header>
        <%= link_to '7even', '/7even' %> @
        <%= format_date(comment.created_at) %>
      </header>
      
      <%= textilize(comment.content) %>
      
      <footer>
        <div style="display:none;" id="reply_to_<%= comment.id %>">
          <%= simple_form_for Comment.new, :url => create_comment_post_path do |f| %>
            <%= f.input :parent_id, :value => comment.id, :as => :hidden %>
            <%= f.input :content, :label => false, :input_html => {:rows => 3} %>
            <%= f.button :submit %>
          <% end %>
        </div>
        <%= link_to_function t('posts.show.reply') do |page|
          page.visual_effect :appear, "reply_to_#{comment.id}"
        end %>
      </footer>
    </article>
  <% end %>
<% end %>
  </section>

<p class="links">
  <%= link_to t('posts.common.to_index'), posts_path %> |
  <%= link_to t('posts.common.edit'), edit_post_path(@post) %>
</p>
